<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">
    
    <bean id="holaMundo" class="com.cibertec.capitulo1.beans.HolaMundo" />
    
    <bean id="impresoraServiceBean" class="com.cibertec.capitulo1.service.ImpresoraService">
        <property name="documento" ref="documentoExcel" />
    </bean>
    <bean id="documentoExcel" class="com.cibertec.capitulo1.beans.DocumentoExcel"/>

</beans>
